@import "theme-variables";
@import "defaults";
@import "lib/css-grid-utility";

// .primary-container {
// 	display: grid;
// 	grid-template-rows: 60px auto 60px;
// 	min-height: 100vh;
// }
.primary-container main {
  min-height: calc(100vh - 60px - 81px);
}
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 30px 20px;
}
.site-navigation {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    display: inline-block;
    margin-left: 20px;
  }
  a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }
  a[aria-current="page"] {
    color: rgba(255, 255, 255, 1);
  }
  .menu-trigger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    padding: 0;
    cursor: pointer;
  }
  @media (max-width: $breakpoint-lg) {
    .menu-trigger,
    .icon-menu-line {
      display: flex;
    }

    .icon-menu-close {
      display: none;
    }
    .menu-trigger.is-active {
      .icon-menu-line {
        display: none;
      }
      .icon-menu-close {
        display: flex;
      }
    }
    .menu-trigger.is-active + ul {
      display: block;
    }
    ul {
      display: none;
      position: absolute;
      right: 0;
      top: 100%;
      z-index: 1;
      width: 100%;
      max-width: 320px;
      border-radius: 0 0 0 12px;
      overflow: hidden;
    }
    ul li {
      display: block;
      margin-left: 0;
    }
    a {
      display: block;
      padding: 20px;
    }
  }
}
.container {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 20px;
}
.site-logo {
  font-weight: bold;
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #fff;
    }
  }
  @media (max-width: $breakpoint-lg) {
    font-size: 20px;
  }
}
.home-banner {
  padding: 60px 0;
  align-items: center;
  .title {
    font-size: 48px;
    line-height: 48px;
    margin: 0 0 5px;
    font-weight: 900;
  }
  .description {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 30px;
  }
  .featured-image {
    border-radius: 12px;
  }
  @media (max-width: $breakpoint-sm) {
    padding: 30px 0;
    .title {
      font-size: 38px;
    }
    .tagline {
      margin-top: 3px;
    }
  }
}
.social-icons {
  font-size: 35px;
  display: flex;
  gap: 16px;
  margin-top: 80px;
  @media (max-width: $breakpoint-md) {
    margin-top: 40px;
  }
}
.home-posts {
  .grids {
    padding-bottom: 30px;
  }
  padding-bottom: 100px;
}
.post-card {
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  transition: box-shadow 0.3s linear;
  .featured-image {
    border-radius: 12px;
    img {
      display: block;
      margin: 0;
    }
  }
  .title {
    margin: 0 0 3px;
    font-size: 20px;
    font-weight: 600;
    // a {
    // 	color: var(--post-link-color);
    // }
  }
  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
    // .title {
    // 	color: var(--button-alternate-color);
    // }
  }
  .meta {
    margin: 0;
    font-size: 12px;
    // color: rgba(0,0,0,0.5);
  }
  .post-content {
    margin-top: 16px;
  }
  @media (max-width: $breakpoint-md) {
    padding: 0;
    .post-content {
      padding: 16px;
      margin-top: 0;
    }
    .featured-image {
      border-radius: 12px 12px 0 0;
    }
  }
}
.article-header {
  padding: 35px 0;
  text-align: center;
  margin: 0 auto;
  h1 {
    font-size: 36px;
    font-size: clamp(18px, calc(1rem + 2vw), 36px);
    margin: 0 auto 6px;
    max-width: 768px;
    line-height: 1.3;
    font-weight: 600;
  }
  time {
    font-size: 14px;
  }
}
@media (max-width: $breakpoint-sm) {
  .post-card .featured-image {
    min-height: 300px;
  }
}
article figure {
  margin: 40px 0;
  text-align: center;
  figcaption {
    font-size: var(--font-size-small);
    color: var(--text-color-meta);
    margin-top: 5px;
  }
}
article blockquote {
  margin-left: 0;
  padding: 5px 5px 5px 20px;
  border-left: 3px solid rgba(0, 0, 0, 0.1);
}
article iframe {
  border: 2px solid black;
  box-sizing: border-box;
}
article img {
  max-width: 100%;
}
.blog-post-content {
  max-width: 70ch;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.5;
  font-size: 20px;
}

.blog-post {
  .featured-image {
    border-radius: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
// Buttons
.button {
  --padding: 15px;
  --margin: 20px;
  display: inline-flex;
  align-items: center;
  padding: var(--padding) calc(var(--padding) * 2);
  border-radius: 12px;
  text-decoration: none;
  appearance: none;
  border: none;
  font-size: 16px;
  line-height: 1;
  transition: background 0.3s linear;
  &.-outline {
    color: var(--primary-color);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
    background: #fff;
    &:hover {
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
      background: #f2f2f2;
    }
  }
  & + .button {
    margin-left: 20px;
  }
  .icon {
    display: inline-flex;
    &.-right {
      margin-left: var(--margin);
    }
    &.-left {
      margin-right: var(--margin);
    }
  }
}

// Page
.page,
.blog-page,
.contact-page,
.thanks-page,
.not-found-page {
  padding: 50px 20px;
  .wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
}
// Contact page
.contact-page {
  .wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
  .description {
    line-height: 1.5;
  }
}
.contact-form {
  margin-top: 36px;
  label {
    color: var(--label-text);
  }
  input,
  textarea {
    width: 100%;
    max-width: 100%;
    margin: 8px 0 16px;
    padding: 16px;
    border-radius: 12px;
    appearance: none;
    font-size: 18px;
    font-weight: 600;
    &:focus {
      border-color: var(--input-focus-border);
    }
  }
  textarea {
    min-height: 200px;
  }
}
.site-footer {
  display: flex;
  align-items: center;
  background: #eee;
  text-align: center;
  font-size: 14px;
  padding: 20px 0;
  p {
    margin: 0;
    color: #fff;
  }
  a {
    font-weight: normal;
  }
  a:hover {
    color: #fff;
  }
}

.pagination {
  text-align: center;
  padding: 50px 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    display: inline-block;
    margin: 0 5px;
  }
  a {
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    line-height: 1;
    &.is-active {
      color: var(--header-bg);
      pointer-events: none;
    }
  }
  &.-post {
    text-align: inherit;
    padding: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 50px 0 0;
    ul {
      display: flex;
      justify-content: space-between;
    }
    li:nth-child(1) {
      text-align: left;
    }
    li:nth-child(2) {
      text-align: right;
    }
    p {
      font-size: 14px;
      margin: 0 0 5px;
      color: #2b2525;
    }
    a {
      font-weight: normal;
      font-size: 16px;
      padding: 0;
    }
    .page-title {
      line-height: 1.3;
    }
  }
  @media (max-width: $breakpoint-md) {
    padding: 50px 0 ul {
      display: flex;
      justify-content: space-between;
    }
    &.-post ul {
      display: grid;
      justify-content: normal;
      a {
        padding: 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: block;
        margin-bottom: 10px;
        border: 1px solid #3c3539;
        border-radius: 8px;
      }
    }
    .num {
      display: none;
    }
  }
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: #f0693e;
  --color-1: #f3c074;
  --color-2: #753d22;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-bg);
  overflow: hidden;
}

.rooster {
  position: relative;
  animation: body-ans 0.6s linear infinite;
}

.rooster__head {
  width: 3rem;
  height: 3rem;
  background-color: var(--color-2);
  margin-left: 1.5rem;
  --radius: 10rem;
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}

.rooster__head--wing {
  --h: 1.6rem;
  --w: calc(var(--h) * 2);
  position: absolute;
  top: calc(var(--h) * -0.9);
  left: 1rem;
  width: var(--w);
  height: var(--h);
  border-radius: 0 0 4rem 4rem;
  border-left: 0.8rem solid #c71e24;
  background-color: #d52026;
  animation: ans-wing-1 0.4s infinite;
}

@keyframes ans-wing-1 {
  0%,
  100% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(10deg);
  }
}

.rooster__head--wing--2 {
  --h: 2.8rem;
  --w: calc(var(--h) / 2);
  position: absolute;
  top: calc(var(--h) * -1);
  left: 2.8rem;
  width: var(--w);
  height: var(--h);
  border-radius: 0 4rem 4rem 0;
  background-color: #a21f21;
  border-right: 4px solid #991c1e;
  transform-origin: bottom;
  transform: rotate(-10deg);
  animation: ans-wing-2 0.4s ease-in-out infinite;
}

@keyframes ans-wing-2 {
  0%,
  100% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(-20deg);
  }
}

.rooster__head--wing--3 {
  --h: 1.2rem;
  --w: calc(var(--h) * 2);
  position: absolute;
  top: -0.4rem;
  left: 2.6rem;
  width: var(--w);
  height: var(--h);
  border-radius: 0 0 4rem 4rem;
  background-color: #a21f21;
  border-right: 4px solid #991c1e;
  transform-origin: bottom;
  --rotate: 15deg;
  transform: rotate(var(--rotate));
  animation: ans-wing-3 0.5s infinite;
}

.rooster__head--wing--4 {
  --h: 2.8rem;
  --w: calc(var(--h) / 2);
  position: absolute;
  top: calc(var(--h) * -0.9);
  left: 2.4rem;
  width: var(--w);
  height: var(--h);
  border-radius: 4rem 0 2rem 0;
  background-color: #d52026;
  border-right: 8px solid #c71e24;
  transform-origin: bottom;
  --rotate: 10deg;
  transform: rotate(var(--rotate));
  animation: ans-wing-3 0.4s infinite;
}

@keyframes ans-wing-3 {
  0%,
  100% {
    transform: rotate(var(--rotate));
  }

  50% {
    transform: rotate(calc(var(--rotate) + 15deg));
  }
}

.rooster__eyes {
  position: absolute;
  top: 0.3rem;
  left: 0.8rem;
  display: flex;
  align-items: center;
}

.rooster__eye {
  --s: 1.4rem;
  width: var(--s);
  height: var(--s);
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.rooster__eye--1 {
  border: 4px solid var(--color-2);
  box-sizing: content-box;
}

.rooster__eye--2 {
  margin-left: -0.2rem;
}

.rooster__eye::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: #000;
}

.rooster__eye-ans {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0;
  background-color: #753d22;
  transform: translateY(-70%);
  z-index: 2;
  animation: eye-ans 1.2s infinite;
}

.rooster__eye-ans--d {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0;
  background-color: #753d22;
  border-radius: inherit;
  transform: translateY(100%);
  z-index: 2;
  animation: eye-ans-d 1.2s infinite;
}

@keyframes eye-ans {
  0%,
  85%,
  100% {
    transform: translateY(-70%);
  }

  95% {
    transform: translateY(-40%);
  }
}

@keyframes eye-ans-d {
  0%,
  85%,
  100% {
    transform: translateY(100%);
  }

  95% {
    transform: translateY(40%);
  }
}

.rooster__mouth {
  position: absolute;
  width: 1.4rem;
  height: 0.9rem;
  left: 1rem;
  top: 2rem;
  border-radius: 50%;
  background-color: yellow;
  transform: rotate(2deg);
  z-index: 100;
}

.rooster__mouth-d {
  position: absolute;
  top: 2.97rem;
  left: 1.55rem;
  width: 0.9rem;
  height: 0.9rem;
  background-color: #991c1e;
  border-radius: 50%;
  z-index: 2;
  transform-origin: top;
  animation: mouth-ans 0.5s ease-in-out infinite;
}

.rooster__mouth-d--shadow {
  top: 2.97rem;
  left: 1.66rem;
  transform: scale(1.1);
  background-color: #7e0404;
}

.rooster__mouth-d::after {
  content: "";
  position: absolute;
  top: -0.1rem;
  left: 0.15rem;
  width: 0.4rem;
  height: 0.5rem;
  transform: rotate(35deg);
  background-color: #991c1e;
}

.rooster__mouth-d::before {
  content: "";
  position: absolute;
  top: -0.1rem;
  left: 0.35rem;
  width: 0.4rem;
  height: 0.5rem;
  transform: rotate(-35deg);
  background-color: #991c1e;
}

.rooster__mouth-d--shadow::after,
.rooster__mouth-d--shadow::before {
  background-color: #7e0404;
}

.rooster__mouth::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0.5rem;
  height: 0.8rem;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  border-right: 3px solid #fff;
  transform: rotate(-20deg);
  box-sizing: content-box;
}

.rooster__mouth::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem 0 0 0;
  border-top: 8px solid yellow;
  transform: translate(-40%, -6%) rotate(10deg);
}

@keyframes mouth-ans {
  0%,
  100% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(10deg);
  }
}

.rooster__neck {
  margin-top: -1rem;
  height: 8.7rem;
  width: 4.5rem;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 4rem;
  background-color: var(--color-2);
  position: relative;
  overflow: hidden;
}

.rooster__neck::after {
  content: "";
  position: absolute;
  left: 0;
  top: 48%;
  width: 100%;
  height: 1.2rem;
  border-right: 4px solid #ddaf68;
  border-left: 4px solid #ffd89e;
  background-color: var(--color-1);
  z-index: 11;
}

.rooster__neck-s {
  position: absolute;
  top: 3.5rem;
  left: -0.5rem;
  display: flex;
  gap: 0.1rem;
  z-index: 10;
}
.rooster__neck--l {
  background-image: linear-gradient(
    to bottom left,
    transparent 20%,
    #ffd89e 30%
  );
}

.rooster__neck--r {
  background-image: linear-gradient(
    to bottom left,
    #ddaf68 64%,
    transparent 64%
  );
}

.rooster__neck--1 {
  width: 1rem;
  height: 1rem;
  background-color: #f3c074;
  border-left: 4px solid #4e2816;
  border-top: 4px solid #4e2816;
  transform: rotate(45deg);
}

.rooster__neck--curve {
  position: absolute;
  top: 0.5rem;
  left: 0rem;
  width: 3rem;
  height: 4rem;
  border-left: 0.8rem solid #a3572eb7;
  transform: rotate(30deg);
  border-radius: 50%;
}

.rooster__body {
  --radius: 5rem;
  margin-top: -3.4rem;
  width: 10rem;
  height: 5rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  background-color: var(--color-1);
  border: 4px solid #ffd89e;
  border-top: transparent;
  position: relative;
  z-index: 10;
}

.rooster__body--tb {
  position: absolute;
  right: -4px;
  top: 0;
  width: 60.5%;
  height: 4px;
  background-color: #ddaf68;
}

.rooster__tail {
  --width: 4.5rem;

  position: absolute;
  width: var(--width);
  height: calc(var(--width) - 2rem);
  background-color: #d52026;
  right: 0;
  top: 40%;
  transform: translateX(60%);
  border-top-left-radius: calc(var(--width) - 1rem);
  border-top-right-radius: calc(var(--width) - 1rem);

  border-right: 6px solid #c91e24;
  border-left: 6px solid #d72229;
  transform-origin: left bottom;
  animation: tail-ans 0.5s ease-in-out infinite;
}

@keyframes tail-ans {
  0%,
  100% {
    transform: translateX(60%) rotate(0deg);
  }

  50% {
    transform: translateX(60%) rotate(10deg);
  }
}

.rooster__tail--1 {
  background-color: #991c1e;
  border-right: 6px solid #8d181c;
  border-left: 6px solid #a11e22;
  right: 1.2rem;
  top: 45%;
  transform-origin: left;
  transform: translateX(60%) rotate(-45deg);
  animation: tail-1-ans 0.5s ease-in-out infinite;
}

@keyframes tail-1-ans {
  0%,
  100% {
    transform: translateX(60%) rotate(-45deg);
  }

  50% {
    transform: translateX(60%) rotate(-35deg);
  }
}

.rooster__wing {
  position: absolute;
  left: 36%;
  top: 1%;
  transform: rotate(10deg);
  width: 7rem;
  height: 3.4rem;
  background-color: #753d22;
  border-radius: 2rem 0 3.5rem 2rem;
  border-right: 8px solid #6e3a20;
  border-left: 8px solid #7c4024;
  transform-origin: top left;
  animation: wing-ans 1s linear infinite;
}

@keyframes wing-ans {
  0%,
  40%,
  100% {
    transform: rotate(10deg);
  }

  20%,
  60% {
    transform: rotate(18deg);
  }

  80% {
    transform: rotate(2deg);
  }
}

.rooster__leg {
  position: absolute;
  left: 36%;
  bottom: -9%;
  width: 4.2rem;
  height: 2.4rem;
  background-color: #60321c;
  border-radius: 0 0 4rem 4rem;
}

.rooster__leg--line {
  position: absolute;
  top: 40%;
  left: 35%;
  height: 4rem;
  width: 0.8rem;
  overflow: hidden;
  transform: rotate(2deg);
  z-index: -1;
}

.rooster__leg--line::before {
  content: "";
  position: absolute;
  top: -4rem;
  left: 0rem;
  --s: 12rem;
  width: var(--s);
  height: var(--s);
  background-color: yellow;
  border-radius: 50%;
}

.rooster__leg--line::after {
  content: "";
  position: absolute;
  top: -5.5rem;
  left: 0.5rem;
  --s: 15rem;
  width: var(--s);
  height: var(--s);
  background-color: rgb(228, 228, 13);
  border-radius: 50%;
}

.rooster__leg--hide {
  content: "";
  position: absolute;
  top: -5.5rem;
  left: 0.8rem;
  --s: 15rem;
  width: var(--s);
  height: var(--s);
  border-left: px solid rgb(228, 228, 13);
  border-radius: 50%;
  z-index: 1;
}

.rooster__leg--b {
  position: absolute;
  top: 4.6rem;
  left: 0rem;
  width: 3rem;
  height: 0.4rem;
  background-color: yellow;
  border-radius: 0.4rem;
  z-index: 100;
  animation: leg-b-ans 1s infinite;
}

.rooster__leg--1 {
  animation: leg-ans 1s linear infinite;
}

.rooster__leg--1 .rooster__leg--overlay {
  background-color: #60321c;
}

.rooster__leg--2 {
  animation: leg-ans 1s 0.6s linear infinite;
}

.rooster__leg--2 .rooster__leg--overlay {
  background-color: #753d22;
}

@keyframes leg-ans {
  0%,
  100% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(-0.5, -0.6rem);
  }

  40% {
    transform: translate(-1rem, -0.6rem);
  }

  70% {
    transform: translate(-2rem, 0rem);
  }
}

@keyframes leg-b-ans {
  0%,
  100% {
    transform: rotate(0);
  }

  20% {
    transform: rotate(4deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  70% {
    transform: rotate(4deg);
  }
}

@keyframes body-ans {
  0%,
  100% {
    transform: translateY(0, 0);
  }

  50% {
    transform: translateY(-0.4rem);
  }
}

.rooster__leg--overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-2);
  border-radius: inherit;
}

.surface {
  position: absolute;
  top: 15.8rem;
  left: -5rem;
  width: 20rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.259);
  animation: surface-ans 1s linear infinite;
  z-index: -1;
}

@keyframes surface-ans {
  0%,
  100% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(1.1);
  }
}

@import "utility";

// Libraries
@import "lib/prism-default";
